<!DOCTYPE html>
<html>
<head>
    <title>Certifications</title>
</head>
<body>
 <h1>📜 Certifications</h1>
    <div class="logo">Campus<span>Events</span></div>
    <nav>
        <a href="/">Home</a>
        <a href="/sports/">Sports</a>
        <a href="/clubs/">Clubs</a>
        <a href="/placements/">Placements</a>
        <a href="/certifications/">Certifications</a>
    </nav>
<ul>
    <li>Python Certification</li>
    <li>Data Analytics Certification</li>
    <li>AWS Cloud Certification</li>
    <li>Cyber Security Certification</li>
  </ul>
</body>
</html>