<!DOCTYPE html>
<html>
<head>
  <title>Student Clubs</title>
</head>
<body>
  <h1>🎭 Student Clubs</h1>
    <div class="logo">Campus<span>Events</span></div>
    <nav>
        <a href="/">Home</a>
        <a href="/sports/">Sports</a>
        <a href="/clubs/">Clubs</a>
        <a href="/placements/">Placements</a>
        <a href="/certifications/">Certifications</a>
    </nav>
  <ul>
    <li>Coding Club</li>
    <li>Robotics Club</li>
    <li>Music & Dance Club</li>
    <li>Photography Club</li>
  </ul>
</body>
</html>
