<!DOCTYPE html>
<html>
<head>
  <title>Placements</title>
</head>
<body>
  <h1>💼 Placement Drives</h1>
    <div class="logo">Campus<span>Events</span></div>
    <nav>
        <a href="/">Home</a>
        <a href="/sports/">Sports</a>
        <a href="/clubs/">Clubs</a>
        <a href="/placements/">Placements</a>
        <a href="/certifications/">Certifications</a>
    </nav>
  <ul>
    <li>TCS Campus Drive</li>
    <li>Infosys Hiring</li>
    <li>Amazon Internship</li>
    <li>Startup Recruitment</li>
  </ul>
</body>
</html>
